.table .table-header{
    font-weight: 600;
    background-color: white;
}
.table .table-header .table-cell{
    opacity: 0.7;
}
.table .table-row{
    padding-inline: 5em;
    margin-bottom: 0.5em;
    background-color: white;
}
.table .table-row > td:first-child {
    padding-left: 4em;
}
.table .table-row > td:last-child {
    padding-right: 4em;
}
.table .table-cell{
    padding-block: 2em;
    padding-inline: 1.5em;
    background-color: white;
}

.table .table-cell {
    padding-block: 2em;
    padding-inline: 1.5em;
    background-color: white;
}
